# Android Studio / IntelliJ
*.iml
.gradle/
/local.properties
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# macOS
.DS_Store

# Build outputs
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties

# Audios del prototipo - NO SUBIR
/app/src/main/assets/Songs/audio/
app/src/main/assets/Songs/audio/
**/assets/Songs/audio/
**/Songs/audio/

# APK / AAB generados
*.apk
*.aab
